.App {
  text-align: center;
}

.Home {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.Login {
  display: Flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
	height: 100vh;
}