.RewardModal{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 2000;
}

.RewardModalContainer {
	flex-direction: column;
	margin-bottom: 32px;
	background-color: white;
	border-radius: 8px;
	min-height: 20vh;
	width: 90vw;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	position: relative;
	text-align: center;
	padding: 32px;
}

@media only screen and (min-width: 768px) {
	.RewardModalContainer {
		width: 40vw;
	}
}

@media only screen and (min-width: 992px) {
	.RewardModalContainer {
		width: 30vw;
	}
}

.RewardModalContainer img{
	height: 7vh;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}

.RewardModal h1{
	font-weight: 600;
	margin: 8px 0;
}
