* {
  font-family: "Titillium Web", sans-serif;
}

.App {
  text-align: center;
}

.Home {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-image: url('https://images-ext-1.discordapp.net/external/PL4EFS0rpR8j9BMuicouHQp74w_Ccl_y6-XSRdHIweM/%3Fwidth%3D1920%26format%3Dpng%26auto%3Dwebp%26s%3Df00e38d5ef7904bda3a4e1f46ce4076620b49425/https/preview.redd.it/jqsr09qpwa081.png?format=webp&quality=lossless&width=960&height=540');
  background-size: cover;
}

.Login {
  display: Flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
	height: 100vh;
}