* {
  font-family: "Titillium Web", sans-serif;
}

.App {
  text-align: center;
}

.Home {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-image: url('https://static.vecteezy.com/system/resources/previews/007/407/848/non_2x/summer-pool-background-free-vector.jpg');
  background-size: cover;
}

.Login {
  display: Flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
	height: 100vh;
}