.Roulette{
	background-color: lightgray;
	border-radius: 50%;
	width: 42vw;
	height: 42vw;
	position: relative;
	overflow: hidden;
	box-shadow: 0px 0px 27px 6px rgba(0,0,0,0.39);
	border: 10px solid black;
	z-index: 5;
}

.Roulette::after {
	content: '';
	position: absolute;
	width: 5vw;
	height: 5vw;
	border-radius: 50%;
	background-color: white;
	transform-origin: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid black;
}

.RoulettePointer {
	z-index: 5;
	position: absolute;
	transform: translateY(-50%);
	right: 28.5vw;
	top: 50%;
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-right: 50px solid black;
	border-bottom: 25px solid transparent;
}


.RouletteCell{
	position: absolute;
	top: 50%;
	left: 50%;
	transform-origin: left;
}

.RouletteCell:nth-child(even){
	border-right: 22vw solid #F7D55C; 
}

.RouletteCell:nth-child(odd){
	border-right: 22vw solid #7DD2F7; 
}

.RouletteIcon{
	position: absolute;
	transform-origin: center;
	width: 3vw;
	left: 15vw;
	transform: translateY(-50%);
}

.RouletteCellBorder{
	width: 21vw;
	transform-origin: left;
	height: 1px;
	background-color: black;
	position: absolute;
	z-index: 20;
	left: 0;
}


.RouletteFooter {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	height: 0;
	width: 20vw;
	border-bottom: 20vh solid rgb(73, 73, 73);
	border-left: 5vw solid transparent;
	border-right: 5vw solid transparent;
}