.Roulette{
	background-color: lightgray;
	border-radius: 50%;
	width: 50vw;
	height: 50vw;
	position: relative;
	overflow: hidden;
	box-shadow: inset 0px 0px 27px 6px rgba(0,0,0,0.39);
	border: 1px solid black;
}

.Roulette::after {
	content: '';
	position: absolute;
	width: 5vw;
	height: 5vw;
	border-radius: 50%;
	background-color: white;
	transform-origin: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid black;
}

.RoulettePointer {
	position: absolute;
	height: 2px;
	width: 25vw;
	background-color: black;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}


.RouletteCell{
	position: absolute;
	top: 50%;
	left: 50%;
	transform-origin: left;
}

.RouletteCell:nth-child(even){
	border-right: 25vw solid #F7D55C; 
}
.RouletteCell:nth-child(odd){
	border-right: 25vw solid #7DD2F7; 
}

.RouletteIcon{
	position: absolute;
	transform-origin: center;
	width: 3vw;
	left: 18vw;
	transform: translateY(-50%);
}

.RouletteCellBorder{
	width: 25vw;
	transform-origin: left;
	height: 1px;
	background-color: black;
	position: absolute;
	z-index: 20;
	left: 0;
}
